@orange:#ff8533;


.jumbotron {
    color: black;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Jamaica.svg");
    background-size: cover;
    margin-top: 50px;
}

.footer {
    background-color:@orange;
    color: black;
    margin-top: 10px;
    padding: 10px;
}

.card-hotel{
    background-color: lightgrey;
    flex: 1 150px;
    
}

.btn-info{
    width: 100%;
}

.container1{
    background-color: lightgrey;
    
}

.navbar-home{
    border-left-width: 10px;
    border-left-style: solid;
    border-right-width: 15px;
    border-right-style: solid;
}

.oi-plus{
    padding-right: 10px;
}

.oi-home{
    padding-right: 10px;
}

.oi-phone{
    padding-right:10px;
}

.oi-inbox{
    padding-right: 10px;
}

.img-fluid{
    width: 0%;
}

.myTab{
    padding-top: 10px;
}

.btn-info{
    margin-bottom: 5px;
}
